<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://v1t.su/projects/steam/webtools/" version="0.2.7">
	<update-description href="http://v1t.su/projects/steam/webtools/ext-opera-update.xml"/>
	<name>Steam Web tools</name>
  	<author href="http://v1t.su/projects/steam/webtools/" email="vit@v1t.su">VIT</author>
  	<icon src="icons/icon-64.png"/>
	<description>Useful tools in Steam web sites</description>
</widget>
